# Dependencias (NUNCA subir esto, es pesadísimo)
node_modules/
dist/
dist-ssr/
*.local

# Archivos de entorno (Aquí irán tus claves secretas en el futuro)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor (Archivos que crea VS Code o tu sistema)
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?